button {
  min-width: 100px;
}

h1 {
  font-size: large;
  color: var(--on-surface);
}

p {
  color: var(--on-surface);
}

.abort {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.export {
  background-color: var(--primary);
  color: var(--on-primary);
}
