<form>
<mat-form-field class="input-block">
  <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
         matInput #subject [(ngModel)]="content.subject" placeholder="{{'content.subject' | translate}}" name="subject"
  maxlength="40">
</mat-form-field>
<mat-form-field class="input-block">
    <textarea (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
              matInput #body [(ngModel)]="content.body" placeholder="{{'content.body' | translate}}" name="body"
              matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8" maxlength="255"></textarea>
</mat-form-field>
<mat-form-field>
  <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
         matInput #group [formControl]="myControl" [matAutocomplete]="auto"
         placeholder="{{'content.collection' | translate}}" [(ngModel)]="lastCollection" />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let collection of contentGroups" [value]="collection.name">
      {{collection.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
  <app-content-text-creator *ngIf="format === 'text'" (reset)="resetInputs()"
       [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-text-creator>
  <app-content-choice-creator *ngIf="format === 'choice'" (resetP)="resetInputs()"
       [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-choice-creator>
  <app-content-likert-creator *ngIf="format === 'likert'" (reset)="resetInputs()"
       [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-likert-creator>
  <app-content-yes-no-creator *ngIf="format === 'yesno'" (reset)="resetInputs()"
                              [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-yes-no-creator>
</form>
