<div mat-dialog-content *ngIf="editRoom">
  <h1>{{ 'room-page.general' | translate }}</h1>
  <mat-divider></mat-divider>
  <div fxLayout="column">
    <mat-form-field class="input-block">
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
             [(ngModel)]="editRoom.name" matInput
             name="room-name" maxlength="20" aria-labelledby="room-name"/>
      <mat-placeholder class="placeholder">{{ 'session.session-name' | translate }}</mat-placeholder>
      <mat-hint align="end"><span aria-hidden="true">{{ editRoom.name.length }} / 20</span></mat-hint>
    </mat-form-field>
    <mat-form-field class="input-block">
      <textarea
        (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
        [(ngModel)]="editRoom.description"
        matInput
        matTextareaAutosize
        matAutosizeMinRows="2"
        matAutosizeMaxRows="5"
        maxlength="255"
        name="description"
        aria-labelledby="description"
      ></textarea>
      <mat-placeholder class="placeholder">{{ 'session.description' | translate }}</mat-placeholder>
      <mat-hint align="end"><span aria-hidden="true">{{ editRoom.description ? editRoom.description.length : 0 }} / 255</span></mat-hint>
    </mat-form-field>
    <div fxLayoutAlign="center center">
      <button mat-raised-button class="delete" (click)="openDeleteRoomDialog()" aria-labelledby="delete-room">
        <mat-icon>delete</mat-icon>
        {{ 'room-page.delete-room' | translate }}</button>
    </div>
  </div>
  <app-dialog-action-buttons
    buttonsLabelSection="room-page"
    confirmButtonLabel="update"
    [cancelButtonClickAction]="buildCloseDialogActionCallback()"
    [confirmButtonClickAction]="buildSaveActionCallback()"
  ></app-dialog-action-buttons>
</div>

<div class="visually-hidden">
  <div id="room-name">{{ 'room-page.a11y-room-name' | translate }}</div>
  <div id="room-edit-description">{{ 'session.a11y-description' | translate }}</div>
  <div id="delete-room">{{ 'room-page.a11y-delete-room' | translate }}</div>
</div>

