#commentSlider {
  width: 100%;
}

.delete {
  margin: 20px 0 20px 0;
  min-width: 220px;
  background-color: var(--red);
  color: var(--on-secondary);
}

.export {
  margin-bottom: 20px;
  min-width: 220px;
  background-color: var(--secondary);
  color: var(--on-secondary);
}

button {
  min-width: 105px;
}

mat-icon {
  margin-right: 10px;
}

h1 {
  margin: 10px 0 10px 0;
  color: var(--on-surface);
}

h2 {
  color: var(--on-surface);
}

mat-divider {
  margin-bottom: 10px;
  color: var(--on-surface) !important;
}

.abort {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.update {
  background-color: var(--primary);
  color: var(--on-primary);
}

.submit {
  margin-top: 20px;
}

mat-form-field {
  color: var(--on-surface);
}

mat-hint {
  color: var(--on-surface)!important;
}

