<mat-dialog-content>

  <h2>Lecturer role</h2>
  <p>Screencast in preparation</p>

  <!-- TODO
<div class="video">
  <div class="videoWrapper">
    <iframe tabindex="0"
            width="560" height="349"
            [ngClass]="{'mobileFrame': deviceType === 'mobile', 'desktopFrame': deviceType === 'desktop'}"
            src="https://www.youtube.com/embed/RODwmMxLKa0?autoplay=0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    ></iframe>
  </div>
</div>
-->

  <h2>Moderator role</h2>
  <p>Screencast in preparation</p>

  <h2>Student role</h2>
  <p>Screencast in preparation</p>

</mat-dialog-content>
