<h1 tabindex="0" class="modal" mat-dialog-title>{{ 'introduction.title' | translate }}</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div id="setFocus" class="intro-text" tabindex="0">
    <app-demo-en *ngIf="currentLang=='en'"></app-demo-en>
    <app-demo-de *ngIf="currentLang=='de'"></app-demo-de>
  </div>
</mat-dialog-content>
<app-dialog-action-buttons
  buttonsLabelSection="introduction"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>
