#comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-height: 90vh;
  font-size: 2.1em;
  margin: 5%;
  white-space: pre-line;
  hyphens: auto;
}

#comment p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  color: var(--on-surface);
}

#exitButton {
  background-color: var(--secondary);
  color: var(--on-secondary);
  position:absolute;
  top:2em;
  right:2em;
  max-height: 100px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: var(--on-surface);
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: var(--on-surface);
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: var(--on-surface);
}

