@import '../../../../styles';

mat-card {
  width: 100%;
  max-width: 800px;
  min-height: 350px;
  background-color: var(--surface)!important;
}

mat-card-content>:first-child {
  margin-top: 5%;
}

.mat-icon-button {
  width: 60%; // 100%
  height: 75%;
  margin-bottom: 3%;
  color: var(--primary)!important;
}

.main-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 100%!important;
}

.desktop {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

button {
  width: 30%;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2)
  }
}

h1 {
  font-size: large;
  color: var(--on-surface);
}

h2 {
  font-size: larger;
  color: var(--on-surface)!important;
  margin: 5% 0 5% 0;
}

p {
  color: var(--on-surface)!important;
}

mat-card-header {
  min-height: 80px!important;
  height: 12%!important;
}

mat-card-title {
  height: 40%;
  min-width: 200px;
}

mat-card-subtitle {
  height: 20%;
}

mat-expansion-panel {
  background-color: var(--surface)!important;
  min-width: 200px;
  hyphens: auto;
}

mat-grid-list {
  margin-bottom: 20px !important;
}

mat-grid-tile {
  height: 100%!important;
  padding: 2%!important;
}

#settings {
  width: 10%;
  max-width: 40px;
}

#settings-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

.gavel {
  margin: 5% 2% 0 0;
  color: var(--on-surface);
}
