.userHomeContainer {
  margin-top: -2rem;
}

app-room-list {
  width: 100%;
  max-width: 800px;
}

.mat-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

h1 {
  color: var(--on-surface)!important;
}

.focus_button:focus {
  background: var(--on-surface);
  color: var(--background);
}
