<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-spinner>
    <mat-card *ngIf="room">
      <div fxLayout="row">
        <span class="corner-icons"></span>
        <span class="fill-remaining-space"></span>
        <mat-card-header fxLayoutAlign="center" fxLayout="row">
          <mat-card-title fxLayoutAlign="center">
            <h1>{{ room.name }}</h1>
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
            <mat-icon *ngIf="moderationEnabled" class="gavel">
              gavel
            </mat-icon>
            <span class="room-short-id">
              {{ 'room-page.session-id' | translate}}: {{ room.shortId.slice(0, 4) }} {{  room.shortId.slice(4, 8) }}
            </span>
            <button id="copy"  mat-icon-button (click)="copyShortId()" aria-labelledby= "cloud_download">
              <mat-icon class="copy" matTooltip="{{ 'room-page.copy-session-id' | translate}}">save</mat-icon>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <span class="fill-remaining-space"></span>
        <mat-menu #settingsMenu="matMenu" [overlapTrigger]="false" xPosition="before">
          <button mat-menu-item (click)="showSettingsDialog()" aria-labelledby= "edit">
            <mat-icon>edit</mat-icon>
            {{ 'room-page.general' | translate}}
          </button>
          <button mat-menu-item (click)="showCommentsDialog()" aria-labelledby= "insert_comment">
            <mat-icon>insert_comment</mat-icon>
            {{ 'room-page.comments' | translate}}
          </button>
          <button mat-menu-item (click)="showModeratorsDialog()" aria-labelledby= "person">
            <mat-icon>gavel</mat-icon>
            {{ 'room-page.moderators' | translate}}
          </button>
        </mat-menu>
        <div fxLayout="column">
          <button  id="settings-menu"
                 mat-icon-button class="corner-icons" [matMenuTriggerFor]="settingsMenu" aria-labelledby="settings">
            <mat-icon class="corner-icon" matTooltip="{{ 'room-page.session-settings' | translate}}">settings</mat-icon>
          </button>
          <button mat-icon-button class="corner-icons" routerLink="/creator/room/{{ room.shortId }}/statistics">
            <mat-icon class="corner-icon" matTooltip="{{ 'room-page.answer-statistics' | translate}}">insert_chart
            </mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
        <p>
          {{ room.description.trim() }}
        </p>
      </mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <span class="fill-remaining-space"></span>
        <mat-grid-list cols="{{viewModuleCount}}" rowHeight="2:1">
          <mat-grid-tile>
            <button id="question_answer-button" mat-icon-button [disableRipple]="true"
                    routerLink="/creator/room/{{ room.shortId }}/comments" aria-labelledby="question_answer">
              <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                        [ngClass]="{'desktop' : deviceType === 'desktop'}">question_answer</mat-icon>
              <h2>{{ 'room-page.comments' | translate}}</h2>
            </button>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="moderationEnabled">
            <button id="gavel-button" mat-icon-button [disableRipple]="true"
                    routerLink="/moderator/room/{{ room.shortId }}/moderator/comments" aria-labelledby="gavel">
              <mat-icon matBadge="{{moderatorCommentCounter}}" class="main-icon"
                        [ngClass]="{'desktop' : deviceType === 'desktop'}">gavel
              </mat-icon>
              <h2>{{ 'room-page.moderating-stream' | translate}}</h2>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
        <span class="fill-remaining-space"></span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <span class="fill-remaining-space"></span>
        <mat-grid-list cols="3" rowHeight="2:1" class="second">
          <mat-grid-tile>
            <button mat-icon-button routerLink="/creator/room/{{ room.shortId }}/feedback-barometer">
              <mat-icon class="smallerIcon" [ngClass]="{'desktop' : deviceType === 'desktop'}">thumbs_up_down
              </mat-icon>
              <h2>{{ 'room-page.live-feedback' | translate}}</h2>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-icon-button routerLink="/creator/room/{{ room.shortId }}/create-content">
              <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceType === 'desktop'}">note_add</mat-icon>
              <h2>{{ 'room-page.create-content' | translate}}</h2>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-icon-button routerLink="/creator/room/{{ room.shortId }}/statistics">
              <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceType === 'desktop'}">insert_chart</mat-icon>
              <h2>{{ 'room-page.answer-statistics' | translate}}</h2>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
        <span class="fill-remaining-space"></span>
      </div>
      <app-content-groups *ngIf="room && room.contentGroups" [contentGroups]="room.contentGroups"></app-content-groups>

    </mat-card>
    <div *ngIf="!isLoading && !room">{{ 'room-page.room-not-found' | translate }}</div>
  </div>
  <button id="live_announcer-button" tabIndex="-1" (click)="announce()" class="visually-hidden">{{ 'room-page.live-announcer' | translate }}</button>
</div>

<div class="visually-hidden">
  <div id ="cloud_download">{{'room-page.a11y-cloud_download' | translate}}</div>
  <div id ="question_answer">{{'room-page.a11y-question_answer' | translate}}</div>
  <div id ="gavel">{{'room-page.a11y-gavel' | translate}}</div>
  <div id ="settings">{{'room-page.a11y-settings' | translate}}</div>
  <div id ="edit">{{'room-page.a11y-edit' | translate}}</div>
  <div id ="insert_comment">{{'room-page.a11y-insert_comment' | translate}}</div>
  <div id ="person">{{'room-page.a11y-person' | translate}}</div>
</div>


