<form (ngSubmit)="submitAnswer()">
  <h1 class="mat-headline">{{ content.subject }}</h1>
  <mat-divider></mat-divider>
  <mat-form-field class="input-block">
    <textarea (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
              matInput [(ngModel)]="textAnswer" name="answer" #answer placeholder="{{ 'answer.your-answer' | translate }}"></textarea>
  </mat-form-field>
  <div fxLayoutAlign="center" fxLayoutGap="20px" fxAlign="row">
    <button mat-raised-button type="submit" color="accent">{{ 'answer.submit' | translate }}</button>
    <button mat-raised-button (click)="abstain($event)" color="primary">{{ 'answer.abstain' | translate }}</button>
  </div>
</form>
