#comment-card {
  margin-bottom: 3%;
  background-color: var(--surface);
  padding: 1.5% 1.5% 3% 3%;
  transition: background-color 0.5s linear;
}

mat-card-content > :first-child {
  margin-top: 20px;
}

.voting-icon {
  width: 35px;
  height: 35px;
  font-size: 35px;
  font-weight: bold;
  line-height: 100% !important;
  color: var(--on-surface)
}

.upVoted {
  color: var(--green);
}

.downVoted {
  color: var(--red);
}

.not-marked {
  color: slategray;
}

.correct-icon {
  color: var(--green);
}

.favorite-icon {
  color: var(--yellow);
}

.wrong-icon {
  color: var(--red);
}

.beamer-icon {
  color: var(--on-surface);
}

.score {
  text-align: center;
  margin: 0;
  color: var(--on-surface);
  font-size: 24px;
}

.scoreCreator {
  color: var(--on-surface);
  margin: 0 10px 0 10px;
  font-size: 24px;
}

.body {
  min-width: 200px;
  min-height: 100px;
  text-align: start;
  font-size: 140%;
  max-height: 120px;
  overflow: auto;
  color: var(--on-surface);
  white-space: pre-line;
  hyphens: auto;
}

.click {
  cursor: pointer;
}

.mat-icon {
  transform: scale(1.2);
}

.date-container {
  opacity: 0.7;
  color: var(--on-surface);
  padding-top: .3rem;
}

.comment-actions {
  align-items: center;
  height: 3.5rem;
}

.highlighted {
  background-color: var(--secondary)!important;
  transition: background-color 1s linear;
}

.highlighted * {
  color: var(--on-secondary)!important;
}

.gavel {
  color: var(--primary);
}
