@import './../../../node_modules/@angular/material/theming';

$dark-primary: mat-palette($mat-blue-gray, 800);
$dark-accent: mat-palette($mat-orange, 200);
$dark-warn: mat-palette($mat-red, A200);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

a {
  text-decoration: underline;
  color: var(--on-surface);
}

img {
  padding: 15px;
  background-color: white;
}

