<div fxLayout="column" fxLayoutAlign="center center" fxlayoutgap="50px" fxFill>
<form (ngSubmit)="joinRoom(roomId.value)">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-form-field (keyup.enter)="onEnter()">
      <input
        id="session_id-input"
        matInput
        #roomId
        (focus)="eventService.makeFocusOnInputTrue()"
        (blur)="eventService.makeFocusOnInputFalse()"
        type="text" pattern="[0-9 ]*" inputmode="numeric" min="00000000" max="99999999"
        (keydown)="prettifySessionCode($event)"
        [formControl]="roomFormControl"
        [errorStateMatcher]="matcher"
        aria-labelledby="join-input-label"
      />
      <mat-placeholder class="placeholder">{{ 'home-page.session-id' | translate}}</mat-placeholder>
      <mat-hint align="end"><span aria-hidden="true">{{ roomId.value.length - (roomId.value.split(' ').length -1) }} / 8</span></mat-hint>
      <mat-error *ngIf="roomFormControl.hasError('required')" aria-hidden="true">{{ 'home-page.please-enter' | translate}}</mat-error>
      <mat-error *ngIf="roomFormControl.hasError('pattern')">{{ 'home-page.only-numbers' | translate}}</mat-error>
    </mat-form-field>
    <button [disabled]="cookiesDisabled()" id="session_enter-button" mat-fab type="submit" aria-labelledby="join-button-label">
      <mat-icon>input</mat-icon>
    </button>
  </div>
</form>
</div>

<div class="visually-hidden">
  <div id="join-input-label">{{ 'home-page.accessibility-join-input' | translate }}</div>
  <div id="join-button-label">{{ 'home-page.accessibility-join-button' | translate }}</div>
</div>
