<div class="video">
  <div class="videoWrapper">
    <iframe tabindex="0"
            width="560" height="315"
            src="https://youtu.be/qHRC6z9VtWs?autoplay=0" frameborder="0"
            allowfullscreen
    ></iframe>
  </div>
</div>

<h2>
  Why »frag.jetzt«?
</h2>

<p>The classical lecture usually ends with: »Do you have any questions?« And always nobody answers or the same few
  ask. Either nobody dares to ask questions in the large lecture hall or the questions one actually wanted to ask in the
  course of the lecture are forgotten.

<p>Those who want their lecture to be reflected upon and questioned need a
  tool for anonymously asking questions. Such an <a href="https://github.com/thm-projects/frag.jetzt" target="_blank">Open
    Source</a> tool is available free of charge with »frag.jetzt«. Are
  there any concerns? Is the tool accessible, compliant with the data protection regulations, immediately usable with
  any end device without any training or technical understanding? Three times yes.</p>

<p>If I let »frag.jetzt« be used anonymously and thus without social control, don't I also invite abuse? No, because the
  question list can be moderated live by an assistant: Only lecture-appropriate questions remain on the list.</p>

<p>But I cannot answer all questions in the last ten minutes of my lecture. Sure. This is where the collective tool
  aspect comes into play: Everyone in the audience can rate every question, in other words: to vote up or down. You can
  answer the questions most highly rated by the auditorium immediately, the others, if you wish, later in the course
  forum of the learning platform.</p>


<h2>
  What's so special about »frag.jetzt«?
</h2>

<p>
  The teacher can award bonus points for goal-oriented and lecture-appropriate questions.
  Students who want to take part in the bonus program must register and use their account at the session
  register.
  This is necessary when exporting the questions in order to be able to assign the identity of the question poser to the
  bonus-winning questions on the basis of the e-mail address.
  Registered students also remain anonymous for all others.
</p>
<p>
  Any number of sessions can be created free of charge as a guest or registered user.
  Only the sessions of registered users remain permanently.
  Only 180 days after the last use of a session it will be deleted automatically.
</p>
<p>
  »frag.jetzt« was optimized for accessibility with a screen reader and exclusive keyboard control.
  The user interface meets the requirements of WCAG 2.1 AA.
  Appropriate display options (»themes«) are available for beamer presentations in large lecture halls and for the
  visually impaired.
  In particular, the font size of the questions can be scaled at will.
</p>
<p>
  »frag.jetzt« can be used completely anonymously when registering as a guest.
  The accounts of registered users are stored and managed in accordance with the data protection regulations of the
  DSGVO.
  The program code is »Open Source Software« and can be viewed on GitHub.
  »frag.jetzt« is operated as free »Software as a Service« by TransMIT GmbH, see imprint.
</p>

<h2>Mobile phone use</h2>

<ol>
  <li>
    Mobile phone use during the lecture:
    An assistant moderates the question board on site or from a distance.
    10 minutes before the end of the lecture, the teacher answers 2-3 top questions on the beamer.
  </li>
  <li>
    Mobile phone use only during the break:
    The teacher announces the session code during the break and moderates the questions himself.
    After the break she answers 2-3 top questions.
  </li>
  <li>
    No mobile phone use during the lecture:
    The teacher creates a new session at the end of each lecture.
    Students can ask and rate questions at home.
    The question board is moderated by an assistant or the teacher himself.
    In the first 10 minutes of the next lecture the teacher answers 2-3 top questions.
  </li>
  <li>
    No mobile phone use during the lecture:
    The teacher creates a session for the entire duration of the course.
    An assistant moderates the question board during the semester.
    The teacher marks the relevant questions and deletes all others.
    The question list thus serves to reflect on the lecture contents and to prepare for the exam.
  </li>
</ol>
