@import 'theme/light-theme/_variables.scss';
@import 'theme/dark-theme/dark-theme';
@import 'theme/blue-theme/blue-theme';
@import 'theme/purple-theme/purple-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($arsnova-theme);

::-webkit-scrollbar{
  width:2px;
  background-color:var(--on-secondary);
}

::-webkit-scrollbar:hover{
  width:10px;
}

::-webkit-scrollbar-thumb{
  background-color:var(--secondary);
  border-radius:5px;
}

.dark {
  @include angular-material-theme($dark-theme);
}

.blue {
  @include angular-material-theme($blue-theme);
}

.purple {
  @include angular-material-theme($purple-theme);
}

@import 'theme/light-theme/theme';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.modal {
  outline: none;
  border-color: transparent;
}

.placeholder {
  color: var(--on-surface);
}




