<div>

  <mat-toolbar id="footer-toolbar" class="mat-elevation-z24">

    <button class="focus_button" mat-button (click)="showDemo()"
            aria-labelledby="demo-label">
      <mat-icon>flag</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.demo' | translate }}
      </span>
    </button>

    <span class="fill-remaining-space"></span>

    <button class="focus_button" mat-button
            aria-labelledby="style-label" [matMenuTriggerFor]="themeMenu">
      <mat-icon>accessibility_new</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
          {{'footer.style' | translate}}
        </span>
    </button>

    <span class="fill-remaining-space"></span>
    <button class="focus_button" id="language-menu" mat-button
            aria-labelledby="language-label"
            [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
          {{'footer.language' | translate}}
        </span>
    </button>

    <span class="fill-remaining-space"></span>

    <button class="focus_button" (click)="showDataProtection()" mat-button
            aria-labelledby="data-protection-label">
      <mat-icon>security</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{'footer.dsgvo' | translate}}
      </span>
    </button>

    <span class="fill-remaining-space"></span>

    <button class="focus_button" (click)="showImprint()" mat-button aria-labelledby="imprint-label">
      <mat-icon>info</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{'footer.imprint' | translate}}
      </span>
    </button>

    <mat-menu class="color-menu" #themeMenu="matMenu" [overlapTrigger]="false">
      <button
        *ngFor="let theme of themes"
        (click)="changeTheme(theme);"
        matRipple [matRippleColor]="'rgba(0,0,0,0.1)'"
        title="{{theme.toString(getLanguage())}}"
        aria-label="test">
        <div class="btnContent">
          <div class="btnColorIcon" [ngStyle]="{
                  'background-color':theme.getPreviewColor()}">
            <div class="checked" [ngClass]="{
                        'checked_true':theme.key===themeClass,
                        'checked_false':theme.key!==themeClass}">
              <mat-icon [ngStyle]="{'color':theme.getOnPreviewColor()}">
                checked
              </mat-icon>
            </div>
          </div>
          <div class="btnAppend">
            <div class="title">
              <p class="title_bold">{{theme.getName(getLanguage())}}</p>
            </div>
            <div class="title">
              <p>{{theme.getDescription(getLanguage())}}</p>
            </div>
          </div>
        </div>
      </button>
    </mat-menu>

    <mat-menu #langMenu="matMenu" [overlapTrigger]="false">
      <button class="focus_item" mat-menu-item (click)="useLanguage('de')">{{ 'footer.german' | translate }}</button>
      <button class="focus_item" mat-menu-item (click)="useLanguage('en')">{{ 'footer.english' | translate }}</button>
    </mat-menu>

  </mat-toolbar>
</div>

<div class="visually-hidden">
  <div id="help-label">{{'footer.accessibility-help' | translate}}</div>
  <div id="demo-label">{{'footer.accessibility-demo' | translate}}</div>
  <div id="style-label">{{'footer.accessibility-style' | translate}}</div>
  <div id="language-label">{{'footer.accessibility-language' | translate}}</div>
  <div id="data-protection-label">{{'footer.accessibility-data_protection' | translate}}</div>
  <div id="imprint-label">{{'footer.accessibility-imprint' | translate}}</div>
  <div id="style-default-label">{{'footer.style-default' | translate}}</div>
  <div id="style-dark-label">{{'footer.style-dark' | translate}}</div>
  <div id="style-purple-label">{{'footer.style-purple' | translate}}</div>
  <div id="style-blue-label">{{'footer.style-blue' | translate}}</div>
</div>
